@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.button {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: v.$base-white;
  padding: 8px 20px;
  background-color: v.$base-primary;
  border: none;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: v.$primary-lighter;
}

.button:active {
  background-color: v.$primary-darker;
}

.button:disabled {
background-color: v.$base-grey;
}

.button--light {
  background-color: v.$base-white;
  color: v.$base-primary;
}

.button--light:hover,
.button--light:focus {
  background-color: v.$primary-lighter;
  color: v.$base-white;
}

.button--light:active {
  background-color: v.$primary-darker;
}

.button--light:disabled {
background-color: v.$light-grey;
}
