@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.card {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 42px 20px 20px;
  background-color: v.$base-white;
  border-radius: 4px;
  place-items: center center;
  margin: 0 auto;
  max-width: 349px;

  @include m.tablet {
    gap: 30px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin: 0;
  }
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 178%;
  margin: 0;

  @include m.tablet {
    font-size: 24px;
    line-height: 150%;
  }
}

.card__text-wrapper {
  display: flex;
  flex-direction: column;
}

.card__text {
  text-align: left;
  padding-top: 4px;
  padding-bottom: 16px;

  @include m.tablet {
    font-size: 14px;
    line-height: 143%;
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

.card__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2px;
  margin-left: -2px;

  @include m.desktop {
    gap: 65px;
  }
}

.card__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  margin: 0;
}

.card__button {
  display: flex;
  gap: 6px;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
}

.card__button::before {
  content: "";
  width: 20px;
  height: 16px;
  display: block;
  background: v.$base-white;
  mask-image: url("../../icons/card-basket.svg");
}


.card__img {
  display: block;
}
