@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.catalog {
  @include m.container;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 42px;
  @include m.tablet {
    padding-top: 82px;
    padding-bottom: 90px;
  }
  @include m.desktop {
    padding-top: 98px;
  }
}

.catalog__list {
  @include m.list-reset;
  display: grid;
  gap: 18px;
  margin-top: 87px;

  @include m.tablet {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 99px;
  }

  @include m.desktop {
    grid-template-columns: max-content max-content max-content;
  }
}

.catalog__wrapper {
  display: grid;

  @include m.desktop {
    grid-template-columns: max-content 1fr;
    column-gap: 30px;
  }
}
