@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.catalog {
  background-color: v.$lightest-grey;
  padding-top: 50px;
  padding-bottom: 44px;

  @include m.tablet {
    padding-top: 78px;
    padding-bottom: 90px;
  }

  @include m.desktop {
    padding-top: 94px;
    padding-bottom: 118px;
  }
}

.catalog__page-wrapper {
  @include m.container;
  display: flex;
  flex-direction: column;
  background-color: v.$lightest-grey;

  @include m.tablet {
    max-width: 768px;
  }

  @include m.desktop {
    max-width: 1440px;
  }
}

.catalog__list {
  @include m.list-reset;
  display: grid;
  gap: 20px;
  margin-top: 87px;
  margin-left: auto;
  margin-right: auto;

  @include m.tablet {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 99px;
  }

  @include m.desktop {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.catalog__wrapper {
  display: grid;

  @include m.desktop {
    grid-template-columns: max-content 1fr;
    column-gap: 30px;
  }
}
