@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.contacts {
  @include m.onli-mobile {
    @include m.container;
    margin-bottom: 18px;
    padding-top: 21px;
  }
}

.contacts__list {
  @include m.list-reset;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 19px;
}

.contacts__item {
  display: flex;
  max-width: 280px;
  gap: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
}

.contacts__item--adress::before {
  content: "";
  width: 13px;
  height: 16px;
  display: block;
  background: v.$base-primary;
  mask-image: url("../../icons/adress.svg");
}

.contacts__item--tel::before {
  content: "";
  width: 13px;
  height: 16px;
  display: block;
  background: v.$base-primary;
  mask-image: url("../../icons/tel.svg");
}

.contacts__link {
  margin-left: -7px;
  text-decoration: none;
  color: inherit;
}
