@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.control {
  display: flex;
  gap: 10px;
  align-items: center;
}

.control__marker {
  position: relative;
  width: 24px;
  height: 24px;
  border: 2px solid v.$base-grey;
  border-radius: 50%;
  background-color: transparent;
  flex-shrink: 0;
  left: 0;
}

.control__input[type="radio"]:checked + .control__marker {
  border-color: v.$base-primary;
}

.control__input[type="radio"]:disabled + .control__marker {
  border-color: v.$light-grey;
}

.control__input[type="radio"]:checked + .control__marker::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: v.$base-primary;
  left: 9%;
  top: 9%;
}

.control__marker--checkbox {
  width: 42px;
  height: 24px;
  border-radius: 12px;
  background-color: v.$base-grey;
  border: none;
}

.control__input[type="checkbox"] + .control__marker::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: v.$base-white;
  top: 9%;
  right: 45%;
}

.control__input[type="checkbox"]:checked + .control__marker {
  background-color: v.$base-primary;
}

.control__input[type="checkbox"]:checked + .control__marker::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: v.$base-white;
  top: 9%;
  right: 5%;
}

.control__input[type="checkbox"]:disabled + .control__marker {
  background-color: v.$light-grey;
}
