@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.control {
  display: flex;
  gap: 10px;
  align-items: center;
}

.control__marker {
  position: relative;
  width: 24px;
  height: 24px;
  border: 2px solid v.$base-grey;
  border-radius: 50%;
  background-color: transparent;
  flex-shrink: 0;
  left: 0;
  cursor: pointer;
}

.control__input[type="radio"]:checked + .control__marker {
  border-color: v.$base-primary;
}

.control__input[type="radio"]:disabled + .control__marker {
  border-color: v.$light-grey;
}

.control__input[type="radio"]:checked + .control__marker::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: v.$base-primary;
  left: 9%;
  top: 9%;
}

.control__input[type="radio"]:hover + .control__marker::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  left: 9%;
  top: 9%;
  background-color: v.$primary-opacity-25;
}

.control__marker--checkbox {
  width: 42px;
  height: 24px;
  border-radius: 12px;
  background-color: v.$base-grey;
  border: 2px solid transparent;
}

.control__input[type="checkbox"] + .control__marker::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: v.$base-white;
  top: 0;
  right: 45%;
}

.control__input[type="checkbox"]:checked + .control__marker {
  background-color: v.$base-primary;
}

.control__input[type="checkbox"]:checked + .control__marker::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: v.$base-white;
  top: 0;
  right: 0;
}

.control__input[type="checkbox"]:disabled + .control__marker {
  background-color: v.$light-grey;
}

.control__input[type="radio"]:hover + .control__marker {
  border-color: v.$primary-lighter;
}

.control__input[type="radio"]:focus + .control__marker {
  border-color: v.$primary-lighter;
}

.control__input[type="radio"]:checked:disabled + .control__marker::after {
background-color: v.$light-grey;
}

.control__input[type="radio"]:checked:hover + .control__marker::after {
  background-color: v.$base-primary;
}

.control__input[type="radio"]:checked:focus + .control__marker::after {
  background-color: v.$base-primary;
}

.control__input[type="checkbox"]:hover + .control__marker {
  background-color: v.$primary-opacity-25;
  border-color: v.$base-primary;
}

.control__input[type="checkbox"]:focus + .control__marker {
  background-color: v.$primary-opacity-25;
  border-color: v.$base-primary;
}

.control__input[type="checkbox"]:checked:disabled + .control__marker::after {
  background-color: v.$base-grey;
}

.control__input[type="checkbox"]:checked:hover + .control__marker {
  background-color: v.$base-primary;
}

.control__input[type="checkbox"]:checked:focus + .control__marker {
  background-color: v.$base-primary;
}
