@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.developed {
  @include m.container;
  display: flex;
  justify-content: center;
  padding-top: 8px;
  @include m.tablet {
    padding-top: 28px;
  }
  @include m.desktop {
    padding-top: 6px;

  }
}

.developed__text {
  display: flex;
  gap: 3px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: v.$base-grey;
}

.developed__link {
  display: flex;
  gap: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: v.$base-grey;
  text-decoration: none;
}

.developed__link::after {
  content: "";
  width: 12px;
  height: 16px;
  display: block;
  background: v.$base-grey;
  mask-image: url("../../icons/html-academy.svg");
}

.developed__link:hover,
.developed__link:focus {
  color: v.$base-primary;
}
.developed__link:hover::after {
  background: v.$base-primary;
}
