@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.featured {
  @include m.container;
  display: grid;
  padding-top: 50px;
  padding-bottom: 60px;

  @include m.tablet {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  @include m.desktop {
    padding-top: 102px;
    padding-bottom: 120px;
  }
}

.featured__list {
  @include m.list-reset;
  display: grid;
  row-gap: 42px;
  padding-top: 46px;
  margin-left: auto;
  margin-right: auto;

  @include m.tablet {
    grid-template-columns: 340px 340px;
    gap: 50px 30px;
    padding-top: 60px;
    margin-top: 0;
  }

  @include m.desktop {
    grid-template-columns: 317px 317px 317px 317px;
    column-gap: 30px;
    justify-items: center;
    margin-top: 100px;
  }
}

.featured__item {
  display: flex;
  flex-direction: column;

  @include m.tablet {
    position: relative;
    padding-left: 72px;
    margin-left: 1px;
  }

  @include m.desktop {
    padding-left: 0;
    margin-left: 0;
  }
}

.featured__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  margin: 0;

  @include m.tablet {
    text-align: left;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
  }

  @include m.desktop {
    text-align: center;
  }
}

.featured__desc {
  padding-top: 4px;

  @include m.tablet {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    padding-top: 0;
  }

  @include m.desktop {
    text-align: center;
  }
}

.featured__item--speed::before {
  content: "";
  position: relative;
  display: block;
  width: 52px;
  height: 56px;
  background-image: url("../../icons/speed.svg");
  background-repeat: no-repeat;
  top: -8%;
  left: 41%;

  @include m.tablet {
    position: absolute;
    left: 0;
    top: 4px;
  }

  @include m.desktop {
    position: relative;
    top: -12%;
    left: 42%;
  }
}

.featured__item--fit::before {
  content: "";
  position: relative;
  display: block;
  width: 52px;
  height: 56px;
  background-image: url("../../icons/fit.svg");
  background-repeat: no-repeat;
  top: -7%;
  left: 41%;

  @include m.tablet {
    position: absolute;
    left: -1px;
    top: 0;
  }

  @include m.desktop {
    position: relative;
    top: -13%;
    left: 41%;
  }
}

.featured__item--energy::before {
  content: "";
  position: relative;
  display: block;
  width: 52px;
  height: 56px;
  background-image: url("../../icons/energy.svg");
  background-repeat: no-repeat;
  top: -7%;
  left: 41%;

  @include m.tablet {
    position: absolute;
    left: 0;
    top: 0;
  }

  @include m.desktop {
    position: relative;
    top: -13%;
    left: 42%;
  }
}

.featured__item--eco::before {
  content: "";
  position: relative;
  display: block;
  width: 52px;
  height: 56px;
  background-image: url("../../icons/eco.svg");
  background-repeat: no-repeat;
  top: -8%;
  left: 41%;

  @include m.tablet {
    position: absolute;
    left: -1px;
    top: 4px;
  }

  @include m.desktop {
    position: relative;
    top: -15%;
    left: 42%;
  }
}
