@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.footer {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  @include m.tablet {
    @include m.container;
    max-width: 768px;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  @include m.desktop {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 320px 1fr;
    margin: 0 auto;
  }
}


.footer__wrapper-1 {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;


  @include m.onli-mobile {
    gap: 38px;
    margin-left: auto;
    margin-right: auto;
  }

  @include m.tablet {
    justify-content: space-between;
    padding-bottom: 28px;
  }

  @include m.desktop {
    flex-direction: column;
    gap: 50px;
  }
}

.footer__logo {
  @include m.desktop {
    flex-direction: column;
    gap: 5px;
  }
}

.footer__text {
  @include m.desktop {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    margin-top: 0;
  }
}

.footer__wrapper-2 {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @include m.tablet {
    display: grid;
    grid-template-columns: 223px 223px 223px;
    column-gap: 30px;
  }

  @include m.desktop {
    column-gap: 32px;
    padding-left: 25px;
    grid-template-columns: 317px 317px 317px;
    margin-top: 26px;
  }
}

.footer__list {
  @include m.onli-mobile {
    gap: 16px;
  }

  @include m.list-reset;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 18px;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: v.$base-primary;
  margin: 0;
}

.footer__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.footer__group {
  border-top: 1px solid v.$base-secondary;

  @include m.tablet {
    border: none;
  }
}

.footer-nav {
  @include m.onli-mobile {
    @include m.container;
    margin-bottom: 26px;
    padding-top: 20px;
  }
}

.footer-media {
  @include m.onli-mobile {
    @include m.container;
    margin-bottom: 26px;
    padding-top: 20px;
  }
}

.footer__link:hover,
.footer__link:focus {
  color: v.$primary-lighter;
}

.footer__link:active {
  color: v.$primary-darker;
}
