@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.form {
  position: relative;
  display: grid;
  row-gap: 30px;
  padding-top: 22px;
  padding-left: 2px;

  @include m.onli-mobile {
    margin-left: auto;
    margin-right: auto;
  }

  @include m.tablet {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px 30px;
  }

  @include m.desktop {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 40px;
  }
}

.form__group {
  border: none;
  padding: 0;
  margin: 0;
}

.form__list {
  @include m.list-reset;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  margin-left: -5px;

  @include m.tablet {
    margin-left: 0;
  }
}

.form__item {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.form__buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include m.tablet {
    flex-direction: row;
    justify-content: center;
    grid-column: 1/-1;
  }

  @include m.desktop {
    justify-content: space-between;
    margin-top: 6px;
  }
}

.form__button[type="reset"] {
  @include m.desktop {
    padding: 8px 34px;
  }
}

.form__button[type="submit"] {
  @include m.desktop {
    padding: 8px 26px;
  }
}
