@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include m.tablet {
    @include m.container;
  }
}

.header__logo {
  @include m.desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}

.header__user-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  @include m.onli-mobile {
    padding-right: 60px;
  }

  @include m.desktop {
    gap: 22px;
  }
}
