@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.logo {
  margin-top: 3px;
  @include m.onli-mobile {
    padding-left: 20px;
  }
  @include m.desktop {
    display: flex;
    gap: 20px;
  }
}

.logo__text {
  display: none;
  margin: 0;

  @include m.desktop {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.06em;
  }
}
