@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.map {
  height: 420px;
  display: flex;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image:
    image-set(url("../../images/map-mob.webp") 1x type("image/webp"),
    url("../../images/map-mob@2x.webp") 2x type("image/webp"),
    url("../../images/map-mob.png") 1x type("image/png"),
    url("../../images/map-mob@2x.png") 2x type("image/png"));

  @include m.tablet {
    height: 480px;
    background-image:
      image-set(url("../../images/map-tab.webp") 1x type("image/webp"),
      url("../../images/map-tab@2x.webp") 2x type("image/webp"),
      url("../../images/map-tab.png") 1x type("image/png"),
      url("../../images/map-tab@2x.png") 2x type("image/png"));
  }

  @include m.desktop {
    height: 540px;
    background-position: 0 0;
    background-image:
      image-set(url("../../images/map-desk.webp") 1x type("image/webp"),
      url("../../images/map-desk@2x.webp") 2x type("image/webp"),
      url("../../images/map-desk.png") 1x type("image/png"),
      url("../../images/map-desk@2x.png") 2x type("image/png"));
  }
}
