@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;


.nav--closed .nav__list {
  @include m.onli-mobile {
    display: none;
  }
}

.nav--opened .nav__list {
  @include m.onli-mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 60px;
    border-top: 1px solid v.$base-secondary;
    z-index: 100;
  }
}

.nav__list {
  @include m.list-reset;
  display: flex;
  flex-wrap: wrap;

  @include m.onli-mobile {
    gap: 3px;
    width: 100%;
    background-color: v.$base-white;
  }

  @include m.desktop {
    gap: 22px;
  }
}

.nav__item {
  @include m.onli-mobile {
    outline: 1px solid v.$base-secondary;
  }
}

.nav__link:hover,
.nav__link:focus {
  color: v.$base-primary;
}

.nav__link:active {
  background-color: v.$base-secondary;
}

.nav__item--action::after {
  @include m.tablet {
    position: relative;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: v.$base-primary;
    bottom: 0;
    left: 0;
  }
}

.nav__link {
  display: block;
  text-decoration: none;
  padding: 30px 18px;
  border: 1px solid transparent;
}

.nav__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: v.$base-black;
}

.nav__toggle {
  border: none;
  background-color: transparent;
  padding: 22px;
}

.nav__toggle:active {
  background-color: v.$base-secondary;
}

.nav__toggle-wrapper {
  position: absolute;
  right: 0;
  top: 2px;

  @include m.tablet {
    display: none;
  }
}

.nav--closed .nav__toggle::before {
  content: "";
  width: 16px;
  height: 12px;
  display: block;
  background-color: v.$base-black;
  mask-image: url("../../icons/nav-closed.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
}

.nav--opened .nav__toggle::before {
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  background-color: v.$base-black;
  mask-image: url("../../icons/nav-opened.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
}

.nav--opened .nav__toggle-wrapper {
  top: 0;
}
