@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.pagination {
  @include m.list-reset
}

.pagination__button {
  @include m.list-reset;
  position: absolute;
  width: 20px;
  height: 100%;
  top: 0;
  border: none;
  background-color: transparent;

  @include m.tablet {
    width: 80px;
  }
}

.pagination__button--prev::before {
  position: relative;
  content: "";
  width: 14px;
  height: 14px;
  display: block;
  border: 2px solid v.$base-primary;
  border-bottom: none;
  border-right: 0;
  top: 0;
  left: 7px;
  transform: rotate(-46deg);

  @include m.tablet {
    left: 36px;
    top: -94px;
  }
  @include m.desktop {
    top: 0;
  }
}

.pagination__button--next::before {
  position: relative;
  content: "";
  width: 14px;
  height: 14px;
  display: block;
  border: 2px solid v.$base-primary;
  border-bottom: none;
  border-left: 0;
  top: 0;
  right: 1px;
  transform: rotate(45deg);

  @include m.tablet {
    right: 0;
    left: 28px;
    top: -94px;
  }

  @include m.desktop {
    top: 0;
  }
}

.pagination__button--prev {
  left: 0;
}

.pagination__button--next {
  right: 0;
}


.pagination__button--prev:hover,
.pagination__button--prev:focus{
  background: linear-gradient(90deg, v.$base-white 0%, rgba(255, 255, 255, 0) 100%);
}


.pagination__button--prev:active {
  background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
}

.pagination__button--next:hover,
.pagination__button--next:focus {
  background: linear-gradient(-90deg, v.$base-white 0%, rgba(255, 255, 255, 0) 100%);
}

.pagination__button--next:active {
  background: linear-gradient(-90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
}

.pagination__button--next:disabled:before {
  border-color: v.$base-grey;
}

.pagination__button--prev:disabled:before {
  border-color: v.$base-grey;
}
