@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.range__slider {
  margin-top: 8px;
}

.noUi-target {
  width: 270px;
  height: 2px;
  border: none;
  box-shadow: none;
  background-color: v.$light-grey;

  @include m.tablet{
    width: 213px;
  }
  @include m.desktop {
    width: 300px;
  }
}

.noUi-connect  {
  width: 100%;
  background-color: v.$primary-lighter;
  // @include m.tablet {
  //   width: 118px;
  // }
  // @include m.desktop {
  //   width: 274px;
  // }
}

.noUi-horizontal {
  height: 2px;
}
.noUi-horizontal .noUi-handle {
  // right: -21px;
  // top: -10px;
  width: 24px;
  height: 24px;
  background-color: v.$base-white;
  border-radius: 50%;
  border: 2px solid v.$primary-lighter;
  cursor: pointer;
}

.noUi-handle::after {
  display: none;
}

.noUi-handle::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: transparent;
  top: 2px;
  left: 2px;
}

.range__toggle:hover::before,
.range__toggle:focus::before {
  background-color: v.$primary-opacity-25;
}

.range__toggle:active::before {
  background-color: v.$base-primary;
}


.noUi-handle-upper {
  left: 271px;

  @include m.tablet {
    left: 151px;
  }

  @include m.desktop{
    left: 248px;
  }
}

.range__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;

  @include m.tablet {
    margin-top: 32px;
  }
}

.range__input {
  font-family: inherit;
  border: 2px solid v.$primary-lighter;
  border-radius: 4px;
  padding: 8px 10px;
  width: 118px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  appearance: none;

  @include m.tablet {
    text-align: left;
    padding-left: 18px;
    width: 87px;
    height: 40px;
  }

  @include m.desktop {
    width: 134px;
  height: 40px;
  }
}

.range__input::placeholder {
  color: red;
}

.range__input--min {
  color: v.$base-grey;
}

.range__input--max {
  color: v.$base-black;
}

.range__line {
  position: relative;
  content: "";
  width: 8px;
  height: 2px;
  background-color: v.$base-grey;
  margin: auto 16px auto 0;

  @include m.tablet {
    margin-right: 0;
  }
}

