@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.range__slider {
  margin-top: 10px;
}

/* stylelint-disable*/
.noUi-target {
  width: 278px;
  height: 2px;
  border: none;
  box-shadow: none;
  background-color: v.$light-grey;

  @include m.tablet {
    width: 221px;
  }

  @include m.desktop {
    width: 300px;
  }
}

.noUi-connect {
  width: 100%;
  background-color: v.$primary-lighter;
}

.noUi-horizontal {
  height: 2px;
}

.noUi-horizontal .noUi-handle {
  width: 24px;
  height: 24px;
  background-color: v.$base-white;
  border-radius: 50%;
  border: 2px solid v.$primary-lighter;
  cursor: pointer;
  right: -22px;
  top: -12px;

  @include m.tablet {
    top: -11px;
    right: -22px;
  }
}

.noUi-handle::after {
  display: none;
}

.noUi-handle::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: transparent;
  top: 2px;
  left: 2px;
}

.noUi-handle:disabled {
  background-color: v.$base-grey;
}

.noUi-connect:disabled {
  background-color: v.$base-grey;
}

.noUi-target:disabled {
  background-color: v.$base-grey;
}

.noUi-handle:hover::before,
.noUi-handle:focus::before {
  background-color: v.$primary-opacity-25;
}

.noUi-handle:active::before {
  background-color: v.$base-primary;
}

.noUi-handle-upper {
  left: 261px;

  @include m.tablet {
    left: 199px;
  }

  @include m.desktop {
    left: 248px;
  }
}

.range__input::-webkit-outer-spin-button,
.range__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.range__input[type='number'] {
  -moz-appearance: textfield;
}
/* stylelint-enable*/
.range__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;

  @include m.tablet {
    margin-top: 32px;
  }
}

.range__input::placeholder {
  color: v.$base-grey;
}

.range__input {
  font-family: inherit;
  border: 2px solid v.$primary-lighter;
  border-radius: 4px;
  padding: 8px 10px;
  width: 118px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  appearance: none;
  color: v.$base-black;

  @include m.tablet {
    padding-left: 8px;
    width: 87px;
    height: 40px;
  }

  @include m.desktop {
    width: 134px;
    height: 40px;
  }
}

.range__line {
  position: relative;
  content: "";
  width: 8px;
  height: 2px;
  background-color: v.$base-grey;
  margin: auto 16px auto 8px;

  @include m.tablet {
    margin-right: 0;
  }
}
