@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.socials__list {
  @include m.list-reset;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.socials__item {
  background-color: transparent;
}

.socials__link {
  display: flex;
  flex-wrap: wrap;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.socials__link--vk::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background: v.$base-grey;
  mask-image: url("../../icons/vk.svg");
}

.socials__link--pinterest::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background: v.$base-grey;
  mask-image: url("../../icons/pinterest.svg");
}

.socials__link--ok::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background: v.$base-grey;
  mask-image: url("../../icons/ok.svg");
}

.socials__link--vk:hover::before,
.socials__link--pinterest:hover::before,
.socials__link--ok:hover::before {
  background: v.$base-primary;
}

.socials__link--vk:hover .socials__item {
  background-color: red;
}

.socials__link:hover,
.socials__link:focus {
  background-color: v.$base-secondary;
}

.socials__link:active {
  background-color: v.$primary-opacity-25;
}
