@use "../common/mixin.scss" as m;
@use "../common/variables.scss" as v;

.user-nav {
  display: flex;
}

.user-nav__text {
  display: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: v.$base-black;

  @include m.desktop {
    display: block;
  }
}

.user-nav__button {
  text-decoration: none;
  padding: 22px;
  @include m.desktop {
    display: flex;
    gap: 8px;
  }
}

.user-nav__button--account::before {
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  background-color: v.$base-black;
  mask-image: url("../../icons/user.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
}

.user-nav__button--basket::before {
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  background-color: v.$base-black;
  mask-image: url("../../icons/basket.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
}
.user-nav__button--account:hover::before {
  background-color: v.$base-primary;
}

.user-nav__button--basket:hover::before {
  background-color: v.$base-primary;
}

.user-nav__button:active {
  background-color: v.$base-secondary;
}

.user-nav__button:hover .user-nav__text {
  color: v.$base-primary;
}

.user-nav__button:focus .user-nav__text {
  color: v.$base-primary;
}

