@use "../common/mixin.scss" as m;
@use "../common/variables.scss" as v;

.user-nav {
  display: flex;
  padding: 22px;
}

.user-nav__text {
  display: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: v.$base-black;

  @include m.desktop {
    display: block;
  }
}

.user-nav__button {
  @include m.desktop {
    display: flex;
    gap: 8px;
  }
}

.user-nav__button--account::before {
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  background-color: v.$base-black;
  mask-image: url("../../icons/user.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
}

.user-nav__button--basket::before {
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  background-color: v.$base-black;
  mask-image: url("../../icons/basket.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
}
